<div class="row">
  <div class="col-md-3">
    <h3>Day 1 - Tuesday - Stream 1</h3>
<table class="table table-striped">
<tr> <td>Before</td> <td><a href="{{ site.swc_pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
<tr><td>10:00 - 12:00</td><td><a href="http://swcarpentry.github.io/python-novice-inflammation/01-numpy/index.html">Analysing Patient Data with Python</a></td></tr>
<tr><td>12:00 - 13:00</td><td>Resbaz Festival and Lunch</td></tr>
<tr><td rowspan="2" style="vertical-align:middle">13:00 - 15:00</td><td><a href="http://swcarpentry.github.io/python-novice-inflammation/02-loop/index.html">Repeating Actions with Loops in Python</a></td></tr>
<tr><td><a href="http://swcarpentry.github.io/python-novice-inflammation/03-lists/index.html">Storing Multiple Values in Lists</a></td></tr>
</table>
      
    
  </div>
  <div class="col-md-3">
    <h3>Day 2 - Wednesday - Stream 1</h3>
    <table class="table table-striped">
        
      <tr><td rowspan="2" style="vertical-align:middle">10:00 - 12:00</td><td><a href="http://swcarpentry.github.io/python-novice-inflammation/04-files/index.html">Analysing Data from Multiple Files with Python</a></td></tr>
      <tr><td><a href="http://swcarpentry.github.io/python-novice-inflammation/05-cond/index.html">Making Choices with Python</a></td></tr>
      <tr><td>12:00 - 13:00</td><td>Resbaz Festival and Lunch</td></tr>
      <tr><td>13:00 - 15:00</td><td><a href="http://swcarpentry.github.io/python-novice-inflammation/06-func/index.html">Creating Functions in Python</a></td></tr>
    </table>
  </div>
  <div class="col-md-3">
    <h3>Day 3 - Thursday - Stream 1</h3>
    <table class="table table-striped">
       <tr><td>10:00 - 12:00</td><td><a href="http://swcarpentry.github.io/shell-novice">Using the Shell for Research</a></td></tr>
      <tr><td>12:00 - 13:00</td><td>Resbaz Festival and Lunch</td></tr>
      <tr><td>13:00 - 14:50</td><td><a href="http://swcarpentry.github.io/git-novice/">Version Control with Git</a></td></tr>
      <tr> <td>14:50</td>  <td><a href="{{ site.swc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
      <tr> <td>15:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-3">
    <h3>Day 3 - Thursday - Stream 3</h3>
    <table class="table table-striped">
      <tr><td>10:00 - 12:00</td><td><a href="http://swcarpentry.github.io/sql-novice-survey/">Using Databases and SQL</a></td></tr>
      <tr><td>12:00 - 13:00</td><td>Resbaz Festival and Lunch</td></tr>
      <tr><td>13:00 - 14:50</td><td><a href="http://swcarpentry.github.io/sql-novice-survey/">Using Databases and SQL</a></td></tr>

      <tr> <td>14:50</td>  <td><a href="{{ site.swc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
      <tr> <td>15:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>

